.ourfaq{
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    margin: 2.5rem;

    .ourfaqtitle{
        text-align: center;
        font-size: 48px;
        @media (max-width:768px) {
          font-size: 32px;
      }
    }

    p{
        text-align: center;
        color: #d6d6d6;
        @media (max-width:768px) {
          font-size: 14px;
      }
    }

    .faq-container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
      }
      
      .faq-item {
        border-bottom: 1px solid #444;
        padding: 15px 0;
        cursor: pointer;
      }
      
      .faq-question {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: white;
      }
      
      .faq-icon {
        font-size: 24px;
        font-weight: bold;
        color: #FF520E;
        transition: transform 0.3s ease;
      }
      
      .faq-icon.active {
        transform: rotate(90deg);  /* Rotate when active */
      }
      
      .faq-answer {
        margin-top: 10px;
        font-size: 16px;
        color: lightgray;
        transition: max-height 0.4s ease, padding 0.4s ease;      }
      
      .faq-answer p {
        margin: 0;
      }
}